;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝

[color]
;; Active Colors
bg = #3c3836
fg = #d4be98
fg-alt = #9C9C9C

trans = #00000000
white = #FFFFFF
black = #000000

;; Material Colors
red = #ea6962
pink = #d3869b
purple = #d3869b
deep-purple = #d3869b
indigo = #d3869b
blue = #7daea3
light-blue = #7daea3
cyan = #89b482
teal = #89b482
green = #a9b665
light-green = #a9b665
lime = #a9b665
yellow = #d8a657
amber = #d8a657
orange = #d8a657
deep-orange = #ea6962
brown = #665c54
grey = #665c54
blue-gray = #665c54

[global/wm]
; Adjust the _NET_WM_STRUT_PARTIAL top value
; Used for top aligned bars
margin-bottom = 0

; Adjust the _NET_WM_STRUT_PARTIAL bottom value
; Used for bottom aligned bars
margin-top = 0

[bar/mainbar0]
inherit = bar/barbase
modules-left = activity workspace0
tray-position = right
tray-detached = false
tray-maxsize = 16
tray-offset-x = -8
tray-offset-y = 0
tray-padding = 8
tray-scale = 1.0
offset-x = 8

[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t "$SCRIPTPATH/template.liquid"
tail = true

[bar/mainbar1]
inherit = bar/barbase
modules-left = activity workspace1
[module/workspace1]
type = custom/script
exec = leftwm-state -w 1 -t "$SCRIPTPATH/template.liquid"
tail = true

[bar/barbase]
width = ${env:width}
monitor = ${env:monitor}
offset-x = 8
offset-y = 8
height = 24
fixed-center = true
bottom = false

background = ${color.bg}
foreground = ${color.fg}

radius-top = 1.0
radius-bottom = 1.0

padding = 2
module-margin-left = 0
module-margin-right = 3

font-0 = "Iosevka Nerd Font:size=11:weight=semibold;3"
modules-center = date
modules-right = cpu memory network pulseaudio sysmenu

enable-ipc = true

[settings]

throttle-output = 5
throttle-output-for = 10

screenchange-reload = false

compositing-background = source
compositing-foreground = over
compositing-overline = over
compositing-underline = over
compositing-border = over
pseudo-transparency = false

;; Modules

[module/ewmh]
type = internal/xworkspaces

pin-workspaces = true
enable-click = true
enable-scroll = true

format = <label-state>

label-monitor = %name%
label-active-foreground = #ff0000
;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
[module/cpu]
type = internal/cpu
interval = 1
format = <label> <ramp-load>
label = CPU %percentage%%
ramp-load-0 = ▁
ramp-load-1 = ▂
ramp-load-2 = ▃
ramp-load-3 = ▄
ramp-load-4 = ▅
ramp-load-5 = ▆
ramp-load-6 = ▇
ramp-load-7 = █
;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
[module/memory]
type = internal/memory
interval = 5
; Available tags:
;   <label> (default)
;   <bar-used>
;   <bar-free>
;   <ramp-used>
;   <ramp-free>
;   <bar-swap-used>
;   <bar-swap-free>
;   <ramp-swap-used>
;   <ramp-swap-free>
format = <label> <ramp-used>

; Available tokens:
;   %percentage_used% (default)
;   %percentage_free%
;   %gb_used%
;   %gb_free%
;   %gb_total%
;   %mb_used%
;   %mb_free%
;   %mb_total%
;   %percentage_swap_used%
;   %percentage_swap_free%
;   %mb_swap_total%
;   %mb_swap_free%
;   %mb_swap_used%
;   %gb_swap_total%
;   %gb_swap_free%
;   %gb_swap_used%

label = RAM %percentage_used%%

; Only applies if <bar-used> is used
bar-used-indicator =
bar-used-width = 10
bar-used-foreground-0 = #a9b665
bar-used-foreground-1 = #557755
bar-used-foreground-2 = #d8a657
bar-used-foreground-3 = #ea6962
bar-used-fill = ▐
bar-used-empty = ▐
bar-used-empty-foreground = #665c54

; Only applies if <ramp-used> is used
ramp-used-0 = ▁
ramp-used-1 = ▂
ramp-used-2 = ▃
ramp-used-3 = ▄
ramp-used-4 = ▅
ramp-used-5 = ▆
ramp-used-6 = ▇
ramp-used-7 = █

; Only applies if <ramp-free> is used
ramp-free-0 = ▁
ramp-free-1 = ▂
ramp-free-2 = ▃
ramp-free-3 = ▄
ramp-free-4 = ▅
ramp-free-5 = ▆
ramp-free-6 = ▇
ramp-free-7 = █



;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/pulseaudio]
type = internal/pulseaudio
use-ui-max = true

interval = 5

format-volume = <ramp-volume>

label-volume = %percentage%%

label-muted = ﱝ
label-muted-foreground = ${color.fg-alt}
label-muted-font = 2

ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 =  
ramp-volume-3 =   

click-right = pavucontrol
;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/date]
type = internal/date
interval = 1.0

time = [ %B %d, %Y ] [ %H:%M ]
time-alt = %B %d, %Y

format = <label>
label = %time%

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/sysmenu]
type = custom/text

content = 襤
content-foreground = ${color.fg}

click-left = $HOME/.config/leftwm/themes/current/rofi/powermenu.sh
click-right = $HOME/.config/leftwm/themes/current/rofi/powermenu.sh

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/network]
type = internal/network
interface = enp4s0

interval = 1.0
accumulate-stats = true
unknown-as-up = true

format-connected = <label-connected>
format-disconnected = <label-disconnected>
format-packetloss = <label-packetloss>

label-connected =   %downspeed:9%
label-disconnected = 
label-disconnected-foreground = ${color.fg-alt}
label-packetloss = 


